apiVersion: apps/v1
kind: Deployment
metadata:
  name: pokemon-postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pokemon-postgres
  template:
    metadata:
      labels:
        app: pokemon-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: pokekube-db-secret
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: pokemon-postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
spec:
  selector:
    app: pokemon-postgres
  ports:
    - port: 5432
      targetPort: 5432

